[package]
name = "ferrum_core"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true

[dependencies]
rusqlite = { version = "0.37.0", features = ["bundled"] }